.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(284px, auto));
    max-width: 1184px;
    gap: 16px;
    overflow: hidden;
}

@media  screen and (max-width: 1140px) {
    .photo-grid {
        gap: 14px;
    }
}

@media  screen and (max-width: 984px) {
    .photo-grid {
        gap: 16px;
    }
}

@media  screen and (max-width: 630px) {
    .photo-grid {
        gap: 12px;
    }
}
