.intro__list {
    margin-top: 33px;
    max-width: 690px;
    list-style: none;
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    margin-bottom: 0;
}


@media  screen and (max-width: 568px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}