.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 48px 40px;
    margin-top: 80px;
}

.place:first-child{
    margin-top: 0;
}

@media  screen and (max-width: 1124px) {
     .place  {
        max-width: 928px;
        gap: 48px 32px;
    }
}

@media  screen and (max-width: 984px) {
    .place  {
       max-width: 720px;
       gap: 48px 28px;
       margin-top: 73px;
   }
}

@media  screen and (max-width: 650px) {
    .place  {
        display: flex;
        max-width: 320px;
        flex-direction: column;
        margin-top: 50px;
   }
   .place:first-child {
    margin-top: 0;
   }
}
