.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}


 @media screen and (max-width: 568px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
 }